:root {
    --primary-bgc-color: #fff;
    --secondary-bgc-color:#2E2F42;
    --third-bgc-color: #F4F4FD;
    --primary-text-color: #2E2F42;
    --secondary-text-color:#434455;
    --hero-text-color: #fff;
    --web-logo-color: #4D5AE5;
    --nav-active-color: #404BBF;
    --footer-studio-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --order-button-color: #4D5AE5;
    --order-text-color: #FFF;
    --order-active-button-color: #404BBF;
    --buttons-bgc-color: #F4F4FD;
    --buttons-text-color: #4D5AE5;
    --buttons-active-bgc-color: #404BBF;
    --buttons-active-text-color: #fff;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--primary-bgc-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*Logo*/

.logo {
    color: var(--primary-text-color);

    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.logo-text {
    color: var(--web-logo-color);
}

/*Navigation*/

.link {
    text-decoration: none;
}

.nav-link {
    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover, 
.nav-link:focus {
  color: var(--nav-active-color);
}

/*address*/

.contacts-link {
    color: var(--secondary-text-color);

    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--nav-active-color);
}

/*Portfolio page*/
/*Buttons*/

.button {
    background-color: var(--buttons-bgc-color);
    color: var(--buttons-text-color);

    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
}

.button:hover,
.button:focus {
    background-color: var(--buttons-active-bgc-color);
    color: var(--buttons-active-text-color);
    cursor: pointer;
}

/*Footer*/

.footer {
    background-color: var(--secondary-bgc-color);
}

.logo-1 {
    color: var(--footer-studio-color);

    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
}

.footer-text {
    color: var(--footer-text-color);

    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Studio page*/
/*Hero*/

.hero {
    background-color: var(--secondary-bgc-color);
}

.hero-title {
    color: var(--hero-text-color);

    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.order {
    background-color: var(--order-button-color);
    color: var(--order-text-color);

    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
}

.order:hover,
.order:focus {
    background-color: var(--order-active-button-color);
    color: var(--order-text-color);
    cursor: pointer;
}

/*Benefits*/

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-text {
    color: var(--secondary-text-color);
    
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*What we are doing*/

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/*Our team*/

.team {
    background-color: var(--third-bgc-color);
}